In [21]:
import pandas as pd

In [22]:
df = pd.read_parquet("nyt_data.parquet")
df.head()

,year,title,excerpt
0,1920,At last the Federal Reserve Board has issued r...,
1,1920,WILL TEST DOOR SERVICE.,Service Board to Further Examine I.R.T. Safety...
2,1920,Sanction for Chinese Contracts.,
3,1920,"LEADS FRAZIER BY 4,496.",Langer's Margin Falls in North Dakota--Gronna ...
4,1920,"CHICAGO, April 30.--With 300 suspicious charac...",Federal Agents and Police Round-- up Suspiciou...

In [23]:
def filter_on_str_length(df, column_key, max_len=1):
    #returns a new df that satisfies the condition df[column_key] has a str of len > max_len
    return df[df[column_key].str.len() > max_len]

In [ ]:
# Tokenize function adapted for single rows
def tokenize_function(row):
    result = tokenizer(row["title"].str + row['excerpt'].str, truncation=True, max_length=512)
    if tokenizer.is_fast:
        # Extract word IDs only for the single input
        result["word_ids"] = result.word_ids()
    return result

# Apply tokenization to each subset
a = df[df["year"] < 1960]
a["tokenized"] = a.apply(
    lambda row: tokenize_function(row), axis=1
)

b = df[(df["year"] >= 1960) & (df["year"] < 1990)]
b["tokenized"] = b.apply(
    lambda row: tokenize_function(row), axis=1
)

c = df[df["year"] >= 1990]
c["tokenized"] = c.apply(
    lambda row: tokenize_function(row), axis=1
)

# Drop unused columns after tokenization, to reduce memory usage
a = a.drop(columns=["title", "excerpt", "combined"])
b = b.drop(columns=["title", "excerpt", "combined"])
c = c.drop(columns=["title", "excerpt", "combined"])

In [13]:
a_train = a.sample(n=2000, random_state=42)
#b_train = b.sample(n=2000, random_state=42)
#c_train = c.sample(n=2000, random_state=42) 

len(a_train)

NameError: name 'a' is not defined

In [8]:
import re

def clean_text(text):
    # Remove special characters
    text = re.sub(r"[^a-zA-Z0-9\s]", "", text)
    # Convert to lowercase
    text = text.lower().strip()
    return text

text = "  Hello, how are YOU?  "